body {
  background-color: rgb(238, 238, 238);
  font-family: "Comic Sans MS";
}

main {
  width: 80%;
  margin: 0 auto 0 auto;
  height: 700px;
}

header {
  background-color: black;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

h1 {
  color: #2F96E8;
  display: inline-block;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

#search_query {
  height: 18px;
  width: 200px;
}

#new_search {
  position: absolute;
  right: 80px;
  top: 30px;
  display: inline-block;
}

#signout {
  position: absolute;
  right: 76px;
  top: 10px;
}

main {
  position: relative;
  top: 100px;
  text-align:center;
}

#create_gallery {
  background-color: rgb(96, 201, 231);
  color: white;
  width: 20%;
  height: 50%;
  font-size: 250%;
}

#create_group {
  background-color: rgb(141, 197, 62);
  color: white;
  width: 20%;
  height: 50%;
  font-size: 250%;
}

#galleries_tagline {
  position: relative;
  bottom: 170px;
  right: 80px;
  color: white;
  font-size: 20px;
}

#groups_tagline {
  position: relative;
  bottom: 220px;
  left: 160px;
  color: white;
  font-size: 20px;
}

.gallery_image {
  display: block;
  margin: 0 auto 0 auto;
}

#groups {
  text-align: left;
}

#groups li {
  padding: 20px 0 20px 0;
}

#all_groups {
  display: inline-block;
  position: relative;
  bottom: 101px;
  left: 75px;
}

#all_galleries {
  position: relative;
  bottom: 140px;
  right: 85px;
  display: inline-block;
}
